* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  /* border: 2px solid red; */
}

/* Header styles */

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  width: 100%;
  /* background-color: #898891; */
  position: fixed;
  z-index: 30;
}

nav {
  position: relative;
}

.logo {
  position: absolute;
  left: 10px;
  height: 18px;
  z-index: 12;
}

ul {
  display: flex;
  margin-right: 2rem;
}

li {
  padding: 1rem;
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #000;
  font-weight: 400;
}

a:hover {
  color: #c4b5fd;
  text-decoration: underline;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  font-size: 1.4rem;
}

.hamburger {
  display: none;
}

/* Hero section */

.hero--cnt {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  /* background-color: #c4b5fd; */
}

.hero-text-cnt {
  padding-left: 2rem;
  /* background-color: rgb(107, 97, 97); */
}

.name {
  font-weight: 400;
  font-size: 3.5rem;
}

.job-title {
  font-weight: 400;
  font-size: 4rem;
  background: -webkit-linear-gradient(#c471ed, #ffc0cb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text-cnt p {
  font-size: 1.5rem;
}

.hero-img-cnt img {
  height: 600px;
}

.media-icons {
  margin: 1rem 1rem 0 0;
  font-size: 2rem;
}

.media-icons:hover {
  color: #c471ed;
}

@media (max-width: 960px) {
  /* Hamburger Menu */
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hamburger {
    display: block;
    padding: 1rem;
  }

  .navBar {
    position: relative;
  }

  .navBar .hamburger {
    position: fixed;
    left: 40px;
    top: 40px;
    z-index: 10;
    cursor: pointer;
  }

  .menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 0;
    max-width: 200px;
    z-index: 30;
    background-color: #c4b5fd;
  }

  .menuNav.showMenu {
    width: 100%;
  }

  .menuNav li:first-child {
    margin-top: 6rem;
  }

  /* Hero section */
  .hero--cnt {
    flex-direction: column;
  }

  .name {
    font-size: 3rem;
  }

  .job-title {
    font-size: 3.5rem;
  }
  .hero-img-cnt {
    margin-top: -14em;
  }
  .hero-img-cnt img {
    height: 400px;
  }
}

/* Tablet */
@media (max-width: 768px) {
}
/* About Section

.about--cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(42, 41, 41);
  margin-top: 20px;
  height: 100vh;
}

.about-photo {
  height: 600px;
  width: 600px;
  border-radius: 50%;
  padding: 40px;
}

.about--text {
  padding: 80px;
}

.about-h1 {
  font-size: 30px;
  margin-bottom: 60px;
  text-align: center;
}

.about-p {
  font-size: 24px;
  text-align: justify;
  margin-left: 5px;
  word-spacing: 2px;
}

Projects Section

.projects--container {
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
}

.projects--container > div {
  padding: 20px;
}

.portfolio-img {
  display: inline;
  width: 100%;
  height: 100%;
}

.project-h1 {
  font-size: 32px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}

.project-p {
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  margin: 20px 0;
  background: -webkit-linear-gradient(#c471ed, #ffc0cb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2px;
}

.project1 {
  text-align: center;
}
Footer Styles

footer {
  height: 200px;
  background-color: rgb(42, 41, 41);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 30%;
  right: 20px;
  line-height: 30px;
  font-size: 20px;
}

.media-icons > div {
  display: inline;
  margin-left: 10px;
}

.media-icons > div:hover {
  cursor: pointer;
}

.linkedin-icon {
  height: 25px;
}

Media queries
@media screen and (max-width: 1168px) {
  .about--cnt {
    flex-direction: column;
    padding: 20px;
    height: max-content;
  }
  .about-photo {
    height: 350px;
    width: 350px;
    padding: 5px;
  }

  .about--text {
    padding: 20px;
  }

  .about-h1 {
    font-size: 25px;
    margin-bottom: 40px;
  }

  .about-p {
    font-size: 20px;
    padding: 20px;
    width: 500px;
  }
}

@media screen and (max-width: 768px) {
  header {
    box-shadow: none;
  }

  nav {
    right: 60px;
  }

  About Section

  .about--cnt {
    flex-direction: column;
    padding: 20px;
    height: max-content;
  }

  .about-photo {
    height: 350px;
    width: 350px;
    padding: 5px;
  }

  .about--text {
    padding: 20px;
  }

  .about-h1 {
    font-size: 25px;
    margin-bottom: 40px;
  }

  .about-p {
    font-size: 20px;
    padding: 20px;
    width: 500px;
  }

  Footer 
  footer {
    width: 100%;
  }
  .contact-info {
    font-size: 10px;
    text-align: center;
  }

  .footer-text {
    font-size: 12px;
  }
}

Phone
@media screen and (max-width: 480px) {
  header {
    height: 30px;
  }

  nav {
    right: 60px;
  }

  a {
    font-size: 12px;
  }

  li {
    margin-right: 15px;
  }

  .logo {
    width: 16%;
  }

  Hero section

  .hero--cnt {
    height: 40vh;
  }

  .hero--text {
    font-size: 20px;
  }

  About Section
  .about--cnt {
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 10px;
    padding: 20px;
    height: 80vh;
  }

  .about-photo {
    height: 100px;
    width: 100px;
    padding: 5px;
  }

  .about--text {
    padding: 10px;
    height: 100px;
    width: 300px;
  }

  .about-h1 {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .about-p {
    font-size: 12px;
    width: 300px;
  }

  Projects
  .projects--container {
    margin: 10px 0;
    grid-gap: 5px;
  }

  .project-h1 {
    font-size: 16px;
  }

  .project-p {
    font-size: 20px;
    font-weight: 500;
  }

  Footer
  footer {
    height: 100px;
    justify-content: left;
  }

  .contact-info {
    right: 30px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
  }

  .media-icons > div {
    padding: 5px;
  }

  .footer-text {
    font-size: 10px;
  }
} */
