* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  /* border: 2px solid red; */
}

/* Header styles */

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  width: 100%;
  /* background-color: #898891; */
  position: fixed;
  z-index: 30;
}

nav {
  position: relative;
}

.logo {
  position: absolute;
  left: 10px;
  height: 18px;
  z-index: 12;
}

ul {
  display: flex;
  margin-right: 2rem;
}

li {
  padding: 1rem;
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #000;
  font-weight: 400;
}

a:hover {
  color: #c4b5fd;
  text-decoration: underline 3px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  font-size: 1.4rem;
}

.hamburger {
  display: none;
}

/* Hero section */

.hero--cnt {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  /* background-color: #c4b5fd; */
}

.hero-text-cnt {
  padding-left: 2rem;
  /* background-color: rgb(107, 97, 97); */
}

.name {
  font-weight: 400;
  font-size: 3.5rem;
}

.job-title {
  font-weight: 400;
  font-size: 4rem;
  background: -webkit-linear-gradient(#c471ed, #ffc0cb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text-cnt p {
  font-size: 1.5rem;
}

.hero-img-cnt img {
  height: 500px;
}

.media-icons {
  margin: 1rem 1rem 0 0;
  font-size: 2rem;
}

.media-icons:hover {
  color: #c471ed;
}

/* About Section  */
.about--cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  padding: 4rem;
  background-color: rgba(243, 232, 255, 0.8);
}

.about-img-cnt {
  margin-right: 6rem;
}

.about-photo {
  object-fit: cover;
  height: 400px;
  width: 400px;
  border-radius: 50%;
}

.about--text-cnt {
  max-width: 600px;
  min-width: 300px;
  /* background-color: #ffc0cb; */
}
.about--text-cnt h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  letter-spacing: 4px;
  word-spacing: 6px;
  /* text-decoration: underline #c084fc; */
  color: #c084fc;
  margin-bottom: 4rem;
  text-align: center;
  /* background-color: antiquewhite; */
}
.about-p {
  letter-spacing: 2px;
  font-size: 1.4rem;
  word-spacing: 2px;
  font-weight: 400;
  margin-bottom: 1rem;
}
.contact-btn {
  height: 2.6rem;
  width: 10rem;
  border: none;
  border-radius: 4px;
  background-color: #c084fc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
}

.contact-btn:hover {
  background-color: #c471ed;
}

.contact-btn-a:hover {
  text-decoration: none;
}
/* Skills */
.skills-section {
  background-color: rgba(243, 232, 255, 0.8);
}

.skills-section h1 {
  text-align: center;
  font-size: 4rem;
  letter-spacing: 4px;
  word-spacing: 6px;
  margin-bottom: 2rem;
}

.skills-cnt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

.skill-items-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #c084fc; */
}

.skill-items {
  font-size: 6rem;
  margin-right: 2rem;

  /* color: rgb(255, 72, 0); */
}

@media (max-width: 960px) {
  /* Hamburger Menu */
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hamburger {
    display: block;
    padding: 1rem;
  }

  .navBar {
    position: relative;
  }

  .navBar .hamburger {
    position: fixed;
    left: 40px;
    top: 40px;
    z-index: 10;
    cursor: pointer;
  }

  .menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 0;
    max-width: 200px;
    z-index: 30;
    background-color: #c4b5fd;
  }

  .menuNav.showMenu {
    width: 100%;
  }

  .menuNav li:first-child {
    margin-top: 6rem;
  }

  /* Hero section */
  .hero--cnt {
    flex-direction: column;
  }

  .name {
    font-size: 3rem;
  }

  .job-title {
    font-size: 3.5rem;
  }
  .hero-img-cnt {
    margin-top: -14em;
  }
  .hero-img-cnt img {
    height: 400px;
  }

  .about-img-cnt {
    margin-right: 0;
  }
  .about--cnt {
    align-items: center;
    flex-direction: column;
  }
}

/* Tablet */
@media (max-width: 768px) {
}

/*  Projects Section  

.projects--container {
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
}

.projects--container > div {
  padding: 20px;
}

.portfolio-img {
  display: inline;
  width: 100%;
  height: 100%;
}

.project-h1 {
  font-size: 32px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}

.project-p {
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  margin: 20px 0;
  background: -webkit-linear-gradient(#c471ed, #ffc0cb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2px;
}

.project1 {
  text-align: center;
}
Footer Styles

footer {
  height: 200px;
  background-color: rgb(42, 41, 41);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 30%;
  right: 20px;
  line-height: 30px;
  font-size: 20px;
}

.media-icons > div {
  display: inline;
  margin-left: 10px;
}

.media-icons > div:hover {
  cursor: pointer;
}

.linkedin-icon {
  height: 25px;
}
 */
